<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>当妻子开始怀孕的时候，你便已经升级为准爸爸了。 虽然宝宝是在妻子的子宫里一点点长大，但是准爸爸当然也不能闲着了！在整个孕期，妻子需要你与他分享喜悦与担心，生活、精神上需要你的支持和理解。现在，吸烟的准爸爸一定要把烟戒掉，并且在孕早期的3个月，停止性生活。</string>
	<string>孕育宝宝，不仅对于女人来说是人生的一个新开始，对准爸爸来说，也是承担更多责任的开始。也许，昨天你还是个大男孩，但是今天，你一定要开始进入准爸爸的角色了。对妻子的身体、饮食、衣服、出游必须小心谨慎。生活要有规律，时刻注意冷暖风寒，督促妻子随气温增减衣服。现在，家务活不再与你无关了，多承担一些，多付出一些，你会得到妻子更多的爱。</string>
	<string>你发现妻子最近的脾气见长，动不动就会对你发火，你一定感到很委屈，对不对？其实当女人怀孕后，由于孕期荷尔蒙分泌，无论在生理还是心理上都会出现变化，这些变化会导致孕妈妈情绪上的不稳定。因此，面对你妻子越来越多的要求，尽量满足她吧。</string>
	<string>也许你过去对怀孕啊、孕妇啊、胎儿啊一无所知。没关系，从现在开始学习孕期保健和科学育儿的知识也不算晚。还记得那个最朴素的道理吗——知识就是力量！要想作个称职的准爸爸你得多多学习，以便更准确地知道怎么把妻儿照顾的更好。</string>
	<string>孕妈妈这周要到医院做第一次检查了。虽然刚刚怀孕8周，她的行动还不会有太多的不便，但如果你能陪在她的身边，他心里会踏实很多。在医院里帮着挂号、拿化验单，你不妨也和妻子一起听听医生对孕早期的饮食、保健有何建议，还有应该注意的地方。</string>
	<string>准爸爸的工作一定很忙吧？在这个非常时期，需要准爸爸尽可能地多承担些家务，尤其是当妻子有妊娠反应、感觉不适时，更要多干些活。要让她有充分的睡眠和休息。在乘汽车、逛超市时，要保护好妻子，避免腹部直接受到冲撞和挤压。</string>
	<string>国外有研究，厨房释放出的有害气体比室外空气中的浓度高出好多倍，虽然抽油烟机能够在一定程度上减少油烟，但是依然存在隐患，因此，孕期里最好让妻子远离厨房，至少要尽量减少在厨房停留的时间。那么既要让妻子远离厨房，又要让妻子吃得好，怎么办呢？这时候就要看你作丈夫的有什么高招儿了！</string>
	<string>准爸爸现在是不是已经意识到了，怀孕不再是妻子一个人的事呢？为了妻子和胎宝宝，这段时间你一定也付出了好多。现在，妻子最需要你精神上的支持，让她感觉她不是孤单的。多与妻子谈谈胎儿的情况，多关心妻子妊娠反应的情况，和妻子一起猜猜宝宝的眼睛、小嘴巴会是像爸爸还是妈妈呢？</string>
	<string>妻子怀孕后，身体从内在到外表都会发生很大的变化。原来苗条的身体被又粗又圆的腰身代替；原来优美的曲线由于乳部臀部的过分增大而遭破坏，有的孕妇面部皮肤出现色素沉着。她可能会担心在这个非常时期，在你眼里，她的魅力已经消失了。就算你真的也是这样想，可千万还是不能让她知道。你要不断地告诉她——她很漂亮迷人。</string>
	<string>准爸爸要注意啦，这一周，妻子肚子里的胎儿体重增加了，不要让妻子做过重的家务哦！如洗衣服、提重物、搬东西、登高等。虽然比起前一段时间来说，胎儿相对稳定了许多，但是仍然要避免流产。现在，妻子的脚到了下午可能会有些肿。又要辛苦老公啦，每晚，给妻子打上一盆温热的洗脚水，在帮妻子做个足底按摩，一定能够慰藉妻子焦躁的心绪。</string>
	<string>现在，妊娠虽已进入稳定期，但是准爸爸一定不要过于放松，性生活依然要有节制，并且要注意卫生。使用避孕套可以防止男性将一些病菌传染给孕妇，又可以避免前列腺素引起子宫收缩。你现在是不是在思考，自己怎样做一个好爸爸？是不是也感到了压力？和妻子聊聊吧，这会让你们感情更加亲近，感受到彼此的安慰和支持。</string>
	<string>孕妈妈可能会突然非常想吃某种食物，准爸爸千万不要以为这是无理取闹、异想天开。这可能是由于孕妈妈的食谱中缺少某些特定的维生素或矿物质，因此不论刮风下雨，一定请准爸爸受累去买猪蹄或者奶昔哦！</string>
	<string>听胎心是家庭自我监护胎儿的内容之一。除了准妈妈要学会如何数胎动外，作为准爸爸，也一定要学会听胎心，和准妈妈一起监测。让妻子仰卧在床上，准爸爸可直接用耳朵或木听筒贴在医生指定的地方听胎心部位，仔细听即可听到有节奏的搏动。正常的胎心为每分钟120～160/次。如果发现胎心跳动过快、过慢或不规则，应立即就医。</string>
	<string>妻子身材的变化越来越大，过去的衣服基本穿不了了。平时节省的妻子，现在也许不舍得买几身漂亮的孕妇装，这就需要做老公主动并且破费一下啦！一套好的孕妇装虽然价格不便宜，但这毕竟是特殊时期，对爱妻多一些体贴、爱护，她会感到你对她的浓浓爱意。</string>
	<string>准爸爸可能感到，妻子把心思都放在了肚中的宝宝身上了，满脑子都是这个小生命，其他事情都变的无足轻重，特别是对你的感受也不像过去那么在意了，凡事都以体内的胎儿为出发点，对外界的反应显得有些淡漠和迟钝，做事也心不在焉了。对于妻子的这些变化，准爸爸千万不要太计较哦，毕竟妻子是第一次做妈妈，对小宝贝当然会非常关注啊!</string>
	<string>准爸爸可以跟准妈妈一起参加孕妇的课程，很多孕妇学校的课是需要准爸爸和准妈妈一起去的。还有一些课程是分娩的，需要两个人配合。如果你能百忙之中抽时间和爱妻一起去听课，一来学了知识，二来也是体现自己对爱妻“心理支持”的有力行动。</string>
	<string>为了你的宝宝聪明又健康，为了妻子保持良好的情绪， 准爸爸现在可要为妻子选好胎教音乐、购买有关书籍啦！最好多选择几张胎教光盘，不要总听固定的曲子，尽量多样化。另外，准爸爸用你那富有磁性的声音为宝宝轻轻哼唱一些歌，将更会促进你的小宝贝健康成长。</string>
	<string>孕期里，凡是要亲手接触各种清洁剂（包括洗衣粉）的工作，准爸爸最好别让妻子做了。因为这些东西所含的化学成分会导致女性皮肤、免疫系统功能、血液系统、神经系统以及生殖系统受损，有的甚至还会引发癌症或导致胎儿畸形。</string>
	<string>现在，妻子的身体状况相对稳定了很多，如果准爸爸时间空闲，不妨利用这段时间陪妻子到处走一走。即使不出去旅游，只是和妻子一块儿为未来的宝宝购物、一起讨论细节，再一起做决定也是非常幸福的事情。</string>
	<string>准爸爸要注意劝慰妻子不要因妊娠反应、体型改变、面部出现色素沉着而怨恨腹中的宝宝。要多让妻子看一些激发母子感情的书刊或电影、电视，引导妻子爱护胎儿。准爸爸要同妻子一起想象胎儿的情况，描绘胎儿的活泼、漂亮、可爱，对增进母子感情是很重要的。</string>
	<string>准爸爸现在不妨自己动手把房间布置的更温馨一些。墙壁上挂一些可爱的娃娃画像、妻子喜欢的画，或者你们的合影。甚至可以把窗帘全部换掉，整体色彩应以淡色、温馨为基调。如果有条件的话，现在甚至可以开始布置婴儿房了。当然，具体该怎么做，还要尊重妻子的意见哦！</string>
	<string>随着体重的增加，准妈妈一定更不愿意运动了。这时，准爸爸可要做好了监督和陪练的作用。准妈妈进行适当的运动既能控制体重、又能提高抵抗力，改善妊娠不适，更利于给胎宝贝供氧。早上起床后，晚饭后，陪妻子到室外一边聊天、一边散步，对于母子都是一件非常好的事情。</string>
	<string>为了胎儿和妻子的健康，妻子现在就不要再自己开车上路了。但是，挤公交车或者地铁上班，会让妻子非常疲劳，加上公车上空气不好，准妈妈很可能会感到很不舒服。准爸爸最好能在这段时间做好护花使者，每天开车接送妻子上下班。即使不能开车接送，也要嘱咐妻子打出租车，虽然会多花一点钱，但会相对安全些，舒适些，这样花钱也值得了，对吗？</string>
	<string>如果发现妻子对胎教是3分钟热血的人，就要让自己在胎教过程中发挥重大的作用。首先，鼓励妻子适时地进行胎教，同时激发妻子进行胎教的热情。其次，丈夫要积极参与胎教，每天与妻子一道进行胎教，用自身的信心和持之以恒的精神带动妻子把胎教进行到底。</string>
	<string>现在，胎儿生长迅速，子宫明显增大，孕妇的肚子在此时会快速的膨胀起来，腰痛，身体懒得动，性欲减退。此时，为了母子健康，要绝对禁止性交。夫妻可以采用亲吻和拥抱等方式传达爱意，增加交流增进感情。对于这些，准爸爸要给予理解和体谅。</string>
	<string>很多男人都希望老婆生个男孩，你是不是也有这种想法呢？对于一个明智的准爸爸来说，孩子无论是男是女，都是自己的亲骨肉，千万不能因为孩子的性别而烦恼，有的甚至埋怨妻子与腹中的宝宝。</string>
	<string>怀孕后的妻子，会经常觉得腰酸背痛，到了妊娠的中、晚期，妻子的腿或脚还可能肿。所以，睡前丈夫为妻子揉揉后背、揉揉肩，按摩一下腿和脚，对妻子来说，既是身体的需要，也是心理的需要。</string>
	<string>如果妻子喜欢倾诉，准爸爸就要作个最忠实的听众；如果妻子默默无语，对怀孕或分娩心存诸多疑虑，那么，你应坦言无论发生什么事你都将与妻子同舟共济，并充满信心地与妻子勾画一个美好的明天。现在，准爸爸最好尽量少出差。作丈夫的，一定要在这个关键的时期多陪陪妻子，非万不得己，不要出差。</string>
	<string>做爸爸，你准备好了吗？是否已经为宝宝的到来做好了充足的心理准备？宝宝的到来一定会导致家庭重心的转移，爸爸的权威将受到挑战，妻子对你的关注也会很大程度上转移到宝宝身上。现在，是时候考虑宝宝出生后你想要怎样的生活，尤其是必须兼顾上班的时候。宝宝一旦降生，你是否有足够的时间与孩子、妈咪交流？如何安排你每周有限的两个休息日？这些都是爸爸和妈咪应该提前考虑的问题。</string>
	<string>准爸爸应该每晚摸摸妻子日渐隆起的肚子，对自己的“宝宝”说说话，轻轻地哼唱儿歌。据说，胎儿更喜欢频率低一些的男性的嗓音。你的抚摸和你的声音都是胎儿所喜欢的，而你这样做，更重要的是会让妻子心里很舒服。妻子心情好，对胎儿的健康发育又是一个良性刺激。所以说，你这样做，是在推动着一个母婴健康的良性循环。</string>
	<string>如果妻子的阴道突然有大量液体流出，有可能是胎膜早破，会引起上行感染，也可能是脐带脱垂，会危害胎儿的生命，此时，丈夫应该冷静下来，马上让妻子平卧，并马上打电话通知医院，让妻子去医院做好待产准备。</string>
	<string>现在，丈夫陪妻子分娩已经不是一件新鲜事了。丈夫陪产对产妇是种莫大的支持，但陪产前丈夫必须有充足的心理准备。妻子怀孕生产的过程是夫妻感情最容易出现危机的时候，如果丈夫能陪产，能感受到妻子的艰辛而更加爱护妻子，那是对夫妻感情一次有益的促进，而且会激发男性更加孝顺母亲。现在，你不妨征求妻子的意见，是否需要你的陪产呢？</string>
	<string>到怀孕36周时，要停止性生活。离分娩还有4周的重要时期，性交造成早产的可能性极高，因为子宫口容易张开，很容易引起细菌感染。这时对丈夫来说，是应该忍耐的时期，只限于温柔拥抱和亲吻，禁止具有强烈刺激的行为。</string>
	<string>妻子随时都有可能分娩。你现在需要把车子做一个全面的检查，以免妻子破水临产需要马上送她到医院时出现故障。如果是打出租车去医院，为了防止在紧急的时候，你的大脑记忆短路，你需要在脑子里仔细的再强化一遍从你家到医院最便捷的路线，虽然这件事对于你来说似乎根本就不成问题。</string>
	<string>通常最后一个月，准妈妈会觉得时间变得漫长，很着急要跟肚子里的宝宝见面，这时的宝宝已经开始落入盆腔，准妈妈会感到比较舒服。准爸爸，为了迎接宝宝，你准备好了吗？1.陪妻子做最后一次产检，了解一下病房、产房的环境；2.为妻子的分娩与宝宝的顺利出生做好准备，确认分娩时的联系方式和交通工具的安排。3.多给妻子鼓励和勇气，放松妻子的紧张情绪；4.为妻子做好出院准备：布置好清洁舒适的房间，检查宝宝的用品是否齐全，备足一切生活用品及营养品等。</string>
	<string>这时准爸爸还能做些什么呢？检查一下，还有什么事情没有安排好？准爸爸需要帮助妻子，整理好母子入院和出院所需的所有换洗衣服、卫生用品、哺乳用品等，统一放在一个小旅行包里。产前检查记录，以及入院费用，也要放在固定的位置，以备急用时可以很方便拿到。</string>
	<string>宝宝马上就要出生了，面对宝宝的一切，你一定会充满了惊讶。所以，在宝宝还未到来之前提前了解三口之家的新生活是非常必要的。跟你周围的爸爸妈妈们聊聊，提前了解在宝宝出生后，尤其是出生的头两个月你可能会遭遇什么状况，可能会需要什么帮助呢！</string>
</array>
</plist>
